[Oo]bj/
[Bb]in/
.vs
*.xap
*.user
/TestResults
node_modules
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
*.docstates
_ReSharper.*
*.csproj.user
*[Rr]e[Ss]harper.user
_ReSharper.*/
packages/*
packages_autosigned/*
artifacts/*
msbuild.log
PublishProfiles/
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.log
*.vspx
*.log.txt
_out/
_build/
_nuget/
_package/
_chocolatey/
_Chutzpah.*
_UpgradeReport_Files/
UpgradeLog.*
*.cache
*.Cache
*.StyleCop
Chutzpah.sln.DotSettings.user
*.orig
lcov.dat

Samples/Angular/BasicAngular/src/Controller*.js
Samples/Angular/BasicAngular/src/Controller*.map
Samples/Angular/BasicAngular/src/Controller*.d.ts
Samples/Angular/BasicAngular/tests/Controller*.js
Samples/Angular/BasicAngular/tests/Controller*.map
Samples/Angular/BasicAngular/tests/Controller*.d.ts
!Samples/Angular/BasicAngular/src/Controller.ts
!Samples/Angular/BasicAngular/tests/ControllerTests.ts
Samples/Compilation/TypeScriptToSingleFileExceptForTests/test/*.js
Samples/Compilation/TypeScriptToSingleFileExceptForTests/test/*.d.ts
Samples/Compilation/TypeScriptToSingleFileExceptForTests/test/*.map
Facts.Integration/JS/Test/TestSettings/CodeCoverage/myCoverage.json
EdgeJsPackages/node_modules
Chutzpah/edge/