<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net40" />
  <package id="Brutal.Dev.StrongNameSigner" version="1.8.0" targetFramework="net40" />
  <package id="Nancy" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net40" />
  <package id="SourceMapDotNet" version="1.0.5478.26629" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" targetFramework="net40" />
</packages>