<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.2.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net40" />
  <package id="SourceMapDotNet" version="1.0.5478.26629" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" targetFramework="net40" />
</packages>